@keyframes grayscale {
    from {
        filter: grayscale(0%);
    }
    to {
        filter: grayscale(80%);
    }
}

.photoGallery {
    &__horizontal {
        width: 100%;
        // display: flex;
        // justify-content: flex-start;
        overflow: hidden;
        & img {
            width: 100%;
            object-fit: cover;
            overflow: hidden;
        }
    }

    &__vertical {
        // display: flex;
        // width: 30%;
        // height: 100%;
        justify-content: center;
        overflow: hidden;
        // margin: 10px;
        position: relative;
        & img {
            width: 100%;
            object-fit: cover;
            overflow: hidden;
            top: 20%;
        }
    }
    &__big {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

// .galleryImg {
//     width: 100%;
//     object-fit: cover;
//     overflow: hidden;
// }

.container {
    display: grid;
    grid-template-rows: repeat(2, minmax(300px, 1fr));
    gap: 1em;

    & a {
        width: 100%;
        max-height: 450px;
    }
    &--horizontal {
        grid-template-columns: 1fr 1fr;
        margin-top: 1em;
    }
    &--vertical {
        grid-template-columns: 1fr 1fr 1fr;
    }
    &--margin {
        margin-block: 70px;
    }
}
