.yearsButton {
    background-color: $color-salmon;
    border-radius: 5px;
    border: 1px solid $color-piment;
    color: $color-piment;
    padding: 5px 25px;
    margin-inline: 10px;
    margin-block: 30px;
    transition: all 0.5s ease;
    width: 100%;
}

.yearsButton:hover {
    background-color: $color-piment;
    color: white;
}

.buttonNow {
    background-color: $color-piment;
    border-radius: 5px;
    border: 1px solid $color-piment;
    color: $color-white;
    padding: 5px 25px;
    margin-inline: 10px;
    margin-block: 30px;
    transition: all 0.5s ease;
    width: 100%;
    scale: (1);
    &:hover {
        background-color: $color-white;
        scale: 1.1;
        color: $color-piment;
        font-weight: bold;
    }
}
