.textBox {
    padding-inline: 3em;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    // align-items: center;
    &--block {
        padding-bottom: 3em;
    }
    @include mobile-only {
        padding: 1em;
    }
    &--grayBack {
        background-color: $color-gray;
    }
    &--whiteBack {
        background-color: $color-white;
    }

    &--orangeBack {
        background-color: $color-salmon;
        z-index: 0;
        overflow: hidden;
        text-align: center;
        &::after {
            content: '';
            background-color: $color-green;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            transform: translateX(-100%);
            transition: all 200ms ease-out;
            z-index: -1;
        }
        &:hover {
            // background-color: $color-green;
            &::after {
                transform: translateX(0%);
            }
        }
    }
    & p {
        margin-block: 1em;
    }
    &__list {
        list-style-type: disc;
        margin-left: 2em;
        margin-bottom: 0.5em;
    }
    & h3 {
        color: $color-green;
    }
}
