.textBox {
    padding-inline: 3em;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    // align-items: center;
    &--block {
        padding-bottom: 3em;
    }
    @include mobile-only {
        padding: 1em;
    }
    &--grayBack {
        background-color: $color-gray;
    }
    &--whiteBack {
        background-color: $color-white;
    }

    &--orangeBack {
        background-color: $color-salmon;
    }
    & p {
        margin-block: 1em;
    }
    &__list {
        list-style-type: disc;
        margin-left: 2em;
        margin-bottom: 0.5em;
    }
    & h3 {
        color: $color-green;
    }
}
