.archives {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding-block: 40px;
}

.card-img {
    border-radius: 5px;
    max-height: 400px;
    max-width: 100%;
    background-size: cover;
    background-position: center center;
}

.card-item {
    border-radius: 5px;
    margin-block: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-salmon;
}
