.archives {
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 1em;
    margin-block: 3em;
    padding-inline: $layout-padding;
    &--maxi {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-auto-rows: 500px;
    }
    &--mini {
        grid-auto-rows: 450px;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    & h2 {
        color: $color-white;
        text-align: center;
        position: absolute;
        width: 260px;
        height: 70px;
        top: calc(250px - 35px);
        left: calc(50% - 130px);
    }
    @include mobile-only {
        margin-block: 3em;
        padding-inline: 1em;
    }
    &__list {
        width: 100%;
        height: 100%;
        margin: 1em;
        overflow: hidden;
        & li {
            padding: 1em;
            height: 100%;
            width: 100%;
        }
    }
}

.card-img {
    object-fit: cover;
    background-position: center center;
    scale: 1;
    transition: all 0.2s ease-in;
    width: 100%;
    height: 100%;
    filter: blur(0px);
}

.card-item {
    cursor: pointer;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.card-link {
    position: relative;
    display: flex;
    height: 100%;

    &:hover {
        & img {
            transform: scale(1.1);
            filter: blur(2px);
        }
    }
}
