$grid-row-mobile: 300px;
$grid-row-desktop: 450px;

.archives {
    display: grid;
    grid-auto-flow: dense;
    grid-gap: 1em;
    margin-block: 3em;
    padding-inline: $layout-padding;
    &--maxi {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-auto-rows: 500px;
        @include mobile-only {
            grid-auto-rows: 300px;
        }
    }
    &--mini {
        grid-auto-rows: $grid-row-desktop;
        grid-template-columns: repeat(auto-fit, minmax($grid-row-mobile, 1fr));
        @include mobile-only {
            grid-auto-columns: 1fr;
            overflow: hidden;
            max-width: 100%;
            grid-auto-rows: $grid-row-mobile;
            grid-gap: 0.5em;
        }
    }
    & h2 {
        color: $color-white;
        text-align: center;
        position: absolute;
        width: 260px;
        height: 70px;
        top: calc(250px - 35px);
        left: calc(50% - 130px);
    }
    @include mobile-only {
        margin-block: 1em;
        padding-inline: 0;
    }
    &__list {
        width: 100%;
        height: 100%;
        margin: 1em;
        overflow: hidden;
        & li {
            padding: 1em;
            height: 100%;
            width: 100%;
        }
    }
}

.card-img {
    object-fit: cover;
    background-position: center center;
    scale: 1;
    transition: all 0.2s ease-in;
    width: 100%;
    filter: blur(0px);

    @include mobile-only {
        position: absolute;
        top: 20%;
        left: 0%;
    }
}

.card-item {
    cursor: pointer;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.card-link {
    position: relative;
    display: flex;

    @include mobile-only {
        width: 100%;
    }

    &:hover {
        & img {
            transform: scale(1.1);
            filter: blur(2px);
        }
    }
}
