.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
}
.photoCardList {
    display: flex;
    justify-content: space-between;
    padding: 40px $layout-padding;
}

.homeContent {
    margin-top: 3em;
    padding-inline: $layout-padding;
    max-width: 1440px;

    // opacity: 0;
    // transform-style: preserve-3d;
    // animation: fadeIn 1s forwards; // fron animation.css
    // animation-delay: 1s;

    @include mobile-only {
        padding-inline: 1em;
        margin-top: 1em;
    }
    &--margin {
        padding-block: 20px;
    }
    &--article {
        margin-top: 2em;
    }
    &--display {
        display: inline-block;
        color: $color-piment;
        font-family: $font-1;
        font-size: 2rem;
        @include mobile-only {
            font-size: 1.8rem;
        }
    }
    &--orange {
        padding-inline: 0.3em;
        color: $color-salmon;
    }
    &--green {
        padding-inline: 0.3em;
        color: $color-green;
    }
    &--grayBack {
        padding-block: 2em;
        background-color: $color-gray;
    }
    &--size {
        max-width: 1400px;
        margin-inline: auto;
    }
    &__text {
        align-items: center;

        display: flex;
        & img {
            height: 99px;
            padding: 10px;
        }
    }
    &__actions {
        display: flex;
        // grid-template-columns: $layout-padding 1fr $layout-padding;
        // grid-template-rows: 1fr 1fr;
        align-items: flex-start;

        & h2 {
            justify-self: end;
            padding-inline: 40px;
        }
    }
}

.homePhotosSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5em;
    grid-auto-rows: minmax(400px, 0.5fr);
    @include mobile-only {
        grid-template-columns: 1fr;
    }
    & a {
        overflow: hidden;
    }
}
