// Fonts
$font-1: 'Pacifico', cursive;
$font-2: 'Quicksand', sans-serif;

//Colors
$color-gray: #c2c2cc;
$color-piment: #ba3d47;
$color-salmon: #f2644e;
$color-green: #13323e;
$color-white: white;
$color-black: black;

//Page layout
$layout-padding: 100px;

$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
