// Fonts
$font-1: 'Pacifico', cursive;
$font-2: 'Roboto', sans-serif;

//Colors
$color-gray: rgb(28, 28, 28);
$color-piment: rgb(180, 63, 54);
$color-salmon: rgb(247, 239, 236);
$color-white: white;
$color-black: black;

//Page layout
$layout-padding: 100px;
