@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
// font-family: 'Quicksand', sans-serif;
// font-family: 'Pacifico', cursive;

* {
    font-family: $font-2;
    // color: $color-green;
    font-size: 18px;
    @include mobile-only {
        font-size: 18px;
    }
}

h1,
h2 {
    font-family: $font-1;
    color: $color-piment;
    margin: 0;
    font-weight: 500;
}

h1 {
    font-size: 5rem;
    margin: 0px;
    @include mobile-only {
        font-size: 4rem;
    }
}

h2 {
    font-size: 2rem;
    @include mobile-only {
        font-size: 1.8rem;
    }
}

h3 {
    font-size: 1.5rem;
}

span {
    font-size: 0.7rem;
    // color: $color-white;
    // &:hover {
    //     color: $color-salmon;
    // }
}
p {
    margin: 0;
}

.colortext {
    &--piment {
        color: $color-piment;
    }
    &--orange {
        color: $color-salmon;
    }
    &--white {
        color: $color-white;
    }
}

.bordertext {
    &--orange {
        border-left: 10px solid $color-salmon;
        padding: 1em;
        // text-align: center;
    }
}
